html {
    scroll-behavior: smooth;
    scroll-padding-top: 128px;
}

header{
    background: linear-gradient(to right, #865DFF, #E384FF, #FBDCFA);
    padding: 24px 72px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;

    transition: 0.4s;
}

.brand-heading-wrap{
    margin-left: calc(24px + 12vw);
}

.brand-heading{
    color: #3B064D;
    font-family: 'Ubuntu', sans-serif;
    font-size: calc(16px + 2vw);
    font-weight: 700;
}

.brand-heading:hover{
    text-shadow: 1px 1px 1px #3B064D, 0 0 18px #ffff25;
}

    #nav-icon {
        width: calc(32px + 1.5vw);
        height: 45px;
        position: relative;
        margin: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    
    #nav-icon span {
        display: inline-block;
        position: absolute;
        height: 7px;
        width: 100%;
        background: #8105D8;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon span:nth-child(1) {
        top: 0px;
    }
    
    #nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
        top: 18px;
    }
    
    #nav-icon span:nth-child(4) {
        top: 36px;
    }
    
    #nav-icon.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    
    #nav-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    #nav-icon.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

.menu-item{
    font-size: calc(12px + 0.4vw) !important;
    color: #8105d8 !important;
    margin: 0 calc(0.1vw);
}

.menu-item:hover{
    background-color: #fff0ff;
}

.logo{
    width: calc(64px + 0.5vw);
    height: 64px;
    position: relative;
    left: 1rem;
}
/* .showMenu{
    transform: translateY(0);
} */

/* .isOpen{
    transform: translate3d(260px, 0, 0);
} */



/* #nav-icon{
    display: none;
} */

ul.navbar-nav{
    display: none;
}

.feed-inspire{
    margin-top: 128px;
    padding: 32px 96px;
}

.feed-meditate{
    position: relative;
    padding: 64px 96px;
    background-color: #f9f9f9;
}

.custom-shape-divider-top-1696512224 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1696512224 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 112px;
}

.custom-shape-divider-top-1696512224 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1696529136 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1696529136 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 96px;
}

.custom-shape-divider-bottom-1696529136 .shape-fill {
    fill: #FFFFFF;
}

.feed-content{
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 600;
    line-height: calc(2.5rem + 0.5vw);
    text-align: center;
}

.feed-img{
    width: calc(216px + 5vw);
    height: calc(216px + 5vw);
}

#browse-quotes{
    width: 75%;
    margin: 96px auto 64px;
    text-align: center;
}

.browse-quotes-heading{
    font-family: 'Open Sans', sans-serif;
    font-size: calc(1.4rem + 0.5vw);
    font-weight: 600;
    line-height: calc(2.5rem + 0.875vw);
    margin-bottom: 36px;
}

div.input-group input#count{
    border: 1.5px solid #6c757d;
    margin-left: 0;
}

#categories option:hover{
    background-image: linear-gradient(#6c757d);
}


#quote-carousel{
    border-radius: 12px;
    margin-bottom: 40px;
    padding: 48px 80px;
}

.carousel-item figure{
    width: 90%;
    margin: 0 auto;
}

.quote{
    font-family: 'Average Sans', sans-serif;
    font-size: calc(1rem + 0.5vw);
    line-height: calc(1.8rem + 0.5vw);
}

.author{
    font-weight: 500;
}

#contact{
    width: 75%;
    margin: 0 auto;
}

.contact-heading{
    font-family: 'Dela Gothic One', cursive;
    font-size: calc(1.5rem + 0.5vw);
}

#contact p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: calc(12px + 0.4vw);
}

footer{
    text-align: center;
    padding: 32px 40px;
    background-color: #eeffff;
}

.footer-text{
    font-size: calc(1rem + 0.5vw);
}

.copyright{
    font-family: 'Nunito Sans', sans-serif;
}


/* Media Query for smaller viewports */

@media screen and (max-width: 768px) {
    /* #nav-icon{
        display: block;
    } */

    ul.nav{
        display: none;
    }

    ul.navbar-nav{
        display: block;
    }

    a.dropdown-item:active{
        background-color: #4baaff;
    }

    .brand-heading-wrap{
        margin-left: 0;
    }

    .brand-heading{
        font-size: calc(16px + 2.7vw);
        margin-bottom: 0;
    }

    .logo{
        width: calc(48px + 0.5vw);
        height: 48px;
        left: 0;
    }

    .custom-shape-divider-top-1696511936 svg {
        width: calc(140% + 1.3px);
        height: 50px;
    }

    .custom-shape-divider-bottom-1696512634 svg {
        width: calc(135% + 1.3px);
        height: 35px;
    }

    .feed-inspire{
        margin-top: 80px;
        padding: 16px 96px;
        text-align: center;
    }

    .feed-inspire p.feed-content{
        margin-top: 1.5rem;
    }

    .feed-meditate{
        text-align: center;
    }

    .feed-content{
        font-size: calc(1rem + 0.7vw);
        line-height: calc(2rem + 0.5vw);
    }

    #browse-quotes{
        margin: 72px auto 48px;
    }

    .browse-quotes-heading{
        font-size: calc(1.2rem + 0.5vw);
        line-height: calc(2.5rem + 1vw);
        margin-bottom: 24px;
    }

    #quote-carousel{
        margin-bottom: 32px;
    }

    .carousel-item figure{
        width: 100%;
        margin: 0;
    }

    .quote{
        font-size: calc(1rem + 1vw);
        line-height: calc(1.5rem + 1vw);
    }
    
}