
header{
    background: linear-gradient(to right, #865DFF, #E384FF, #FBDCFA);
    padding: 24px 72px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;

    transition: 0.4s;
}

.heading-wrap{
    margin-left: calc(24px + 12vw);
}

.heading{
    color: #3B064D;
    font-size: calc(16px + 2vw);
}

.heading:hover{
    text-shadow: 1px 1px 1px #3B064D, 0 0 18px #ffff25;
}

    #nav-icon {
        width: calc(32px + 2vw);
        height: 45px;
        position: relative;
        margin: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    
    #nav-icon span {
        display: inline-block;
        position: absolute;
        height: 7px;
        width: 100%;
        background: #8105D8;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon span:nth-child(1) {
        top: 0px;
    }
    
    #nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
        top: 18px;
    }
    
    #nav-icon span:nth-child(4) {
        top: 36px;
    }
    
    #nav-icon.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    
    #nav-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    #nav-icon.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

.menu-item{
    font-size: calc(12px + 0.4vw) !important;
    color: #8105d8 !important;
    margin: 0 calc(0.1vw);
}

.menu-item:hover{
    background-color: #fff0ff;
}

.logo{
    width: calc(64px + 0.5vw);
    height: 64px;
    position: relative;
    left: 1rem;
}
/* .showMenu{
    transform: translateY(0);
} */

/* .isOpen{
    transform: translate3d(260px, 0, 0);
} */



/* #nav-icon{
    display: none;
} */

ul.navbar-nav{
    display: none;
}

.feed-inspire{
    margin-top: 128px;
}

#quote-carousel{
    padding: 48px 80px;
    border-radius: 12px;
}

footer{
    text-align: center;
    padding: 32px 64px;
    background-color: azure;
}

/* Media Query for smaller viewports */

@media screen and (max-width: 768px) {
    /* #nav-icon{
        display: block;
    } */

    ul.nav{
        display: none;
    }

    ul.navbar-nav{
        display: block;
    }

    .heading-wrap{
        margin-left: 0;
    }

    .logo{
        width: calc(48px + 0.5vw);
        height: 48px;
    }

    /* .heading{
     
    } */
    
}